<div class="form-horizontal pad-10">
  <br>
  <form #ajoutProduitForm="ngForm">
    <div class="col-md-6 form-group">
      <label class=" control-label">Nom Produit</label>
      <div class="col-md-12 no-padding">
        <input name="nom" id="nom" #nom="ngModel" [(ngModel)]="produits.nom" class="form-control" placeholder="" type="text" required />
        <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="alert alert-danger">
          <div [hidden]="!nom.errors.required">
            Nom est requis!
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label for="categorie" class=" control-label">Catégorie</label>
      <div class="col-md-12 no-padding">
        <select name="categorie" id="categorie" #categorie="ngModel" [(ngModel)]="produits.categorie" class="form-control" required >
          <option *ngFor="let i of categories" [value]="i.id">
            {{i.nom}}
          </option>
        </select>
        <div *ngIf="categorie.errors && (categorie.dirty || categorie.touched)" class="alert alert-danger">
          <div [hidden]="!categorie.errors.required">
            Catégorie est requis!
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label for="fournisseur" class=" control-label">Fournisseur</label>
      <div class="col-md-12 no-padding">
        <select name="fournisseur" id="fournisseur" #fournisseur="ngModel" [(ngModel)]="produits.fournisseur" class="form-control" required >
          <option *ngFor="let f of fournisseurs" [value]="f.id">
            {{f.nom}}
          </option>
        </select>
        <div *ngIf="fournisseur.errors && (fournisseur.dirty || fournisseur.touched)" class="alert alert-danger">
          <div [hidden]="!fournisseur.errors.required">
            Fournisseur est requis!
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label class=" control-label">Origine du produit</label>
      <div class="col-md-12 no-padding">
        <input name="origine" id="origine" #origine="ngModel" [(ngModel)]="produits.origine" class="form-control" placeholder="" type="text" required />
        <div *ngIf="origine.errors && (origine.dirty || origine.touched)" class="alert alert-danger">
          <div [hidden]="!origine.errors.required">
            Origine est requis!
          </div>
        </div>
      </div>
    </div>
    <div class="pad-10">
      <button mwlConfirmationPopover
              [popoverTitle]="'Confirmation'"
              [popoverMessage]="'êtes-vous sûr?'"
              placement="top"
              (confirm)="createProduit(produits)"
              type="submit" class="btn btn-save btn-primary" [disabled]="!ajoutProduitForm.valid">
        <span class="glyphicon glyphicon-floppy-disk"></span> Sauvegarder
      </button>
    </div>
  </form>
</div>
