

<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../assets/images/leg1.jpg" alt="First slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Un Service Pro</h3>
      <p>Depuis plus de 30 ans,</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../assets/images/burger.jpg" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Pour Les Pros !</h3>
      <p>ID lunch propose des produits frais destinés aux professionnels de la restauration</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../assets/images/poulet.jpg" alt="Third slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Bon appétit !!</h3>
      <p>Spécialisé sur les produits viandes, oeufs et légumes</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>




<mdb-card cascade="true" wider="true" reverse="true" class="my-4">
  <!--Card image-->
  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
    <mdb-card-img src="../assets/images/summer.jpg"></mdb-card-img>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!--/Card image-->

  <!-- Card content -->
  <mdb-card-body cascade="true" class="text-center">

    <!--Title-->
    <mdb-card-title>
      <h4>
        <strong>Une envie ?</strong>
      </h4>
    </mdb-card-title>

    <h5 class="indigo-text  ">
      <strong>Du soleil dans vos plas ?</strong>
    </h5>

    <mdb-card-text>
      L'été arrive à grand pas ! iDlunch a le plaisir de vous proposer ses produits de saisons
    </mdb-card-text>


  </mdb-card-body>

</mdb-card>





<br>
<div>
  <app-produit></app-produit>
</div>





<!-- Footer -->
<footer class="page-footer font-small green lighten-2 pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="../assets/images/leg1.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="../assets/images/leg2.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="../assets/images/leg3.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="../assets/images/leg4.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="../assets/images/poulet.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="../assets/images/leg1.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.ephec.be/">Florent, Amaury et Victoire</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
