<div id="login" class="panel panel-primary container">
  <div class="panel-heading"><h3 class="panel-title"><strong> Identification</strong></h3></div>
  <div class="panel-body">
    <form id="frm-login" class="form-horizontal" action="javascript:ctrl.effectuerLogin();">
      <fieldset>
        <!-- Text input-->
        <div class="form-group">
          <label class="control-label" for="nomUtilisateur"><span class="glyphicon glyphicon-user"></span> Nom d'utilisateur</label>
          <div>
            <input id="nomUtilisateur" name="nomUtilisateur" type="text" placeholder="Entrez votre nom d'utilisateur" class="form-control input-md" required="">
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="control-label" for="mdp"><span class="glyphicon glyphicon-lock"></span> Mot de passe</label>
          <div>
            <input id="mdp" name="mdp" type="password" placeholder="Entrez votre mot de passe" class="form-control input-md" required="">
          </div>
        </div>
        <!-- Button -->
        <div class="form-group">
          <label class="control-label" for="btnSigner"></label>
          <div>
            <button id="btnSigner" type="submit" name="btnSigner" class="btn btn-primary">Signer</button>
          </div>

        </div>
      </fieldset>
    </form>

