
<br>

<div>
  <input #box (keyup.enter)="onEnter(box.value)">
</div>

    <table id="table" mdbTable>

      <thead>
      <tr>
        <th>id</th>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Fournisseur</th>
        <th>Origine</th>
      </tr>
      </thead>
      <tbody>
      <tr mdbTableCol *ngFor="let produit of produits">
        <td>{{ produit.id }}</td>
        <td>{{ produit.nom }}</td>
        <td>{{ produit.categorie }}</td>
        <td>{{ produit.fournisseur}}</td>
        <td>{{ produit.origine }}</td>

      </tr>
      </tbody>
    </table>

