<br>

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/admin">Administration de la page</a>
  </mdb-navbar-brand>
  <links>
    <div class="navbar-nav">
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect routerLink="/produits">PRODUITS</a>
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect routerLink="/categories">CATEGORIES</a>
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect routerLink="/fournisseurs">FOURNISSEURS</a>
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect routerLink="/utilisateurs">UTILISATEURS</a>
      <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect routerLink="/statistiques">STATISTIQUES</a>
    </div>
  </links>
</mdb-navbar>






<!-- Jumbotron -->
<div class="jumbotron text-center">

  <!-- Title -->
  <h2 class="card-title h2">Administration de la page iDlunch</h2>
  <!-- Subtitle -->
  <p class="green-text my-4 font-weight-bold">iDlunch propose un service de qualité</p>







</div>
<!-- Jumbotron -->



