

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green lighten-2 " [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
      <img src="../assets/images/Logo.jpg" height="30" class="d-inline-block align-top" alt="">
      iDlunch
    </a>
  </mdb-navbar-brand>


  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link waves-light" routerLink="/news" mdbWavesEffect>News<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/contact" mdbWavesEffect>Contact</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" href="#">Admin</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/connecter">Se connecter</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>
