
<div class="row">
  <h1 class="title"><span>Produits</span></h1>
  <div class="col-md-12 pad-10">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input #recherche (keyup)="onKey(recherche.value)" type="text" class="form-control" placeholder="Produits">
      </div>
      <button type="submit" class="btn btn-default" (click)="produitRecherche()">Recherche de produits</button>
      <button type="submit" class="btn btn-primary" (click)="goToAddProduits()">
      <span class="glyphicon glyphicon-floppy-disk"></span> Ajout Produit
    </button>
    </form>
  </div>
</div>
<div>
<table id="table" class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Catégorie</th>
    <th>Fournisseur</th>
    <th>Origine</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let produit of produits">
    <td>{{ produit.id }}</td>
    <td>{{ produit.nom }}</td>
    <td>{{ produit.categorie }}</td>
    <td>{{ produit.fournisseur}}</td>
    <td>{{ produit.origine }}</td>
    <td height="50">
      <button [id]="produit.id" type="submit" class="btn btn-primary btn-lg" [routerLink]="['/modifier-produit', produit.id]">Modifier</button>
        <button [id]="produit.id" type="submit" class="glyphicon glyphicon-trash btn-lg" (click)="deleteProduit(produit.id)"></button>
    </td>
  </tr>
  </tbody>
</table>
</div>
