
<div class="row">
  <h1 class="title"><span>Produits</span></h1>
  <div class="col-md-12 pad-10">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Produits">
      </div>
      <button type="submit" class="btn btn-default">Recherche de produits</button>
    </form>
    <button type="submit" class="btn btn-primary" (click)="goToAddProduits()">
      <span class="glyphicon glyphicon-floppy-disk"></span> Ajout Produit
    </button>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>idCat</th>
    <th>idFourn</th>
    <th>Origine</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let produit of produits">
    <td>{{ produit.id }}</td>
    <td>{{ produit.nom }}</td>
    <td>{{ produit.idCat }}</td>
    <td>{{ produit.idFourn}}</td>
    <td>{{ produit.origine }}</td>
  </tr>
  </tbody>
</table>
