<br>
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/admin">Administration de la page</a>
  </mdb-navbar-brand>
  <links>
    <div class="navbar-nav">
      <a class="nav-item nav-link waves-light" routerLink="/produits" mdbWavesEffect>PRODUITS</a>
      <a class="nav-item nav-link waves-light" routerLink="/categories" mdbWavesEffect>CATEGORIES</a>
      <a class="nav-item nav-link waves-light" routerLink="/fournisseurs" mdbWavesEffect>FOURNISSEURS</a>
      <a class="nav-item nav-link waves-light" routerLink="/utilisateurs" mdbWavesEffect>UTILISATEURS</a>
      <a class="nav-item nav-link active waves-light" routerLink="/statistiques" mdbWavesEffect>STATISTIQUES <span class="sr-only">(current)</span></a>
    </div>
  </links>
</mdb-navbar>

<br>
<div style="text-align: center">
  <h2><a href="https://analytics.google.com/analytics/web/provision/#/report-home/a167789665w234031379p219500476" target="_blank">Google Analytics</a></h2>
</div>
