

<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay waves-light" mdbWavesEffect>
        <img src="../assets/images/Panier.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><mdb-icon fas icon="utensils" class="pr-1"></mdb-icon> iDlunch</h6>
      </a>

      <h4 class="h4 mb-4">Les nouvelles chez IDlunch</h4>

      <p class="font-weight-normal">L'hiver est presque fini et les fleurs seront bientot là !</p>
      <p class="font-weight-normal">by <a><strong>Victoire Michel</strong></a>, 19/03/2020</p>

      <a mdbBtn class="waves-light green lighten-1" routerLink="/newsSup" mdbWavesEffect>Plus de news</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->



<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
              [animation]="'slide'">
  <mdb-carousel-item *ngFor="let item of slides; let i = index">
    <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"
         *ngFor="let card of item; let cardIndex = index">
      <mdb-card class="my-1">
        <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
      </mdb-card>
    </div>
  </mdb-carousel-item>
</mdb-carousel>






